*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, sans-serif;
}
/* ...NavMenu */
.section_sidebar{
    background: #1e4848c7;
    overflow: hidden;
    position: fixed;
    left: -250px;
    z-index: 999;
    width: 250px;
    height: 100%;
    transition: 0.5s;
}
.active{
    left: 0;
}
.section_sidebar ul{
    margin: 0;
    padding: 20px 0;
}
.section_sidebar ul li{
    list-style: none;
}
/* .section_sidebar ul li a{
    padding: 20px 20px;
    color: #fff;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    text-align: center;
    letter-spacing: 1.2px;
} */
.section_sidebar ul li a:hover {
    color: #111;
    font-weight: 600;
    background-color: #fff;
    transition: 0.3s;
}


.sidebar_Btn{
    /* position: absolute;
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    background: #f5f5f5; */
    position: fixed;
    top: 0px;
    left: -162px;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 191px;
    z-index: 999;
    transition: 0.5s;
    /* padding: 20px; */
    margin: 20px;
    margin-left: 188px;
    
}
/* menu logo toggle */
.sidebar_Btn button .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: rgba(51, 51, 51, 0.822);
    border-radius: 5px;
    margin: 5px 0;
    transition: 0.6s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 5px);
    transform: rotate(-45deg) translate(-4px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -8px);
    transform: rotate(45deg) translate(-6px, -7px);
  }

.btn_active{
    left: 65px;
}
/* .menu_active{
    color: #111;
    background-color: #fff;
} */
.sidebar_Btn button{
    padding: 12px 15px;
    border-radius: 50%;
    border: none;
    width: 55px;
    height: 55px;
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: rgba(0, 255, 255, 0.363);
}

.section_slide{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}
.section_slide section{
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}
@media (max-width: 991px){
    .section_slide{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: auto;
        transform: none !important;
    }
}
.section_slide section:nth-child(2){
    background-color:  #fff;
}
.section_slide section:nth-child(3){
    background-color: #fff;
}

.section_slide section .content{
    max-width: 800px;
    padding: 40px;
    text-align: center;
}

.section_slide section .content h2{
    font-size: 4em;
    color: #111;
}

.section_slide section .content p{
    font-size: 1.3em;
    line-height: 1.4em;
    color: #111;
}
/* Logo Section */
.logo_section{
    position: fixed;
    top: 0px;
    right: 0px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 99;
    transition: 1s ease-in-out;
    /* padding: 20px; */
    margin: 20px;
    margin-left: 188px;
}
.logo_section img{
   width: 125px;
}
