*{
    margin: 0px;
    padding: 0px;
    font-family: Poppins, Arial, sans-serif;
}
body{
    height: 100vh;
    background: whitesmoke;
    letter-spacing: .02em
}


#card_section .card{
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border-radius: 1.5rem;

}

#card_section .card img{
    transition: .5s ease-in-out;
}

#card_section .card-body{
    position: absolute;
    background: rgb(27,27, 27, 0.5);
    color: white;
    top: 305px;
    transition: .5s;
}
#card_section .card-body p{
    visibility: hidden;
    opacity: 0;
}


#card_section .card:hover .card-body{
    top: 235px;
    background: black;
}

#card_section .card:hover .card-body p{
    visibility: visible;
    opacity: 1;
}

#card_section .card:hover img{
    transform: scale(1.1);
}
#card_section .card_overlay{
        position: relative;
}

#card_section .card_overlay .overlay{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: aqua;
    top: 186px;
    left: 0px;
    z-index: -1;
} 

#card_section .card_overlay .overlay_2{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: aqua;
    top: -12px;
    left: 113px;
    z-index: -1;
}